body {
    background: url(/images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0;
}

.info {
    float: right;
    text-align: center;
    border: 2px solid #2f2f2f;
    border-radius: 2rem;
    background-color: hsla(0, 1%, 70%, 0.116);
    padding: 1em;
    margin-left: 20px;

    h2 {
        color: var(--primarycolor);
    }
    a {
        color: var(--primarycolor);
    }
}

.Video1 {
    float: left;
    width: 70%;
    position: absolute;

    iframe {
        border-radius: 2rem;
        border: 2px solid #2f2f2f;
        width: 64%;
        height: 300px;
    }
}

.Video2 {
    float: left;
    width: 70%;
    position: absolute;
    margin-top: 315px;

    iframe {
        border-radius: 2rem;
        border: 2px solid #2f2f2f;
        width: 64%;
        height: 300px;
    }
}

.Small-talk {
    p {
        position: absolute;
        margin-top: 640px;
        text-align: center;
        float: left;
        color: var(--primarycolor);
        width: 46%;
    }
}

@media screen and (max-width: 800px) {
    .info {
        width: 100%;
        float: none;
        padding: 0em;
        margin: 0;
        margin-bottom: 20px;
        padding-bottom: 5px;
        background: linear-gradient(90deg, rgba(47, 47, 47, 1) 0%, rgba(160, 0, 0, 0.6085784655659139) 80%);
    }

    .Video1 {
        float: left;
        width: 100%;
        position: relative;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 300px;
        }
    }
    
    .Video2 {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 300px;
        }
    }

    body {
        background: #101010;
    }
}

@media screen and (max-width: 500px) {
    .Video1 {
        float: left;
        width: 100%;
        position: relative;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 200px;
        }
    }
    
    .Video2 {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 200px;
        }
    }
}

@media screen and (max-width: 350px) {
    .Video1 {
        float: left;
        width: 100%;
        position: relative;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 150px;
        }
    }
    
    .Video2 {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0;
    
        iframe {
            border-radius: 2rem;
            border: 2px solid #2f2f2f;
            width: 100.1%;
            height: 150px;
        }
    }
}