.achtergrond{
    width: 100%;
    height: 100%;

    background-image: url(/Archief/19;11;2021/images/c++Bacground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}