body {
    background-color: #101010;
}

.movie{
    color: red;
}

iframe{
    border-radius: 1rem;
}

.Spiderman{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.Kingsman{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.Transformers{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.Borat{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title{
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
}

@media (max-width: 800px){
    .movie{
        float: none;
        margin-left: 0;
    }
    iframe{
        width: 100%;
        aspect-ratio: 16/9;
    }
}