.achtergrond{
    width: 100%;
    height: 100%;
    
    background-image: url(/images/lxkgOo3q.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.taken-toetsen{
    text-align: center;
    float: left;
}

.taken-toetsen > h3{
    color: white;
}

.taken-toetsen > p > a{
    color: grey;
}