body {
    animation-duration: 2s;
    animation-name: slidin;
}
  
@keyframes slidin {
  from {
      margin-left: 100%;
      width: 300%;
  }
  
  to {
      margin-left: 0%;
      width: 100%;
  }
}

.container{
    text-align: center;
    color: red;
    margin-left: 10%;
    margin-right: 10%;
}
  
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 800px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}